$darkmode: true;
$primary: #50d7ec;
$onPrimary: #00363e;
$primaryContainer: #004e59;
$onPrimaryContainer: #95f0ff;
$secondary: #b1cbd0;
$onSecondary: #1c3438;
$secondaryContainer: #334b4f;
$onSecondaryContainer: #cde7ec;
$tertiary: #bbc6eb;
$onTertiary: #252f4d;
$tertiaryContainer: #3b4665;
$onTertiaryContainer: #dae2ff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #0F1011;
$background: #0F1011;
$onBackground: #e0e3e3;
$surface: #191c1d;
$onSurface: #e0e3e3;
$surfaceVariant: #3f484a;
$onSurfaceVariant: #bfc8ca;
$outline: #899294;
$shadow: #000000;
$inverseSurface: #e0e3e3;
$inverseOnSurface: #2d3132;
$inversePrimary: #006875;
